h5py==3.14.0
ipykernel==6.29.5
lightning==2.5.1.post0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.3.0
pillow==11.2.1
python==3.11.0
pytorch-gpu==2.6.0
pytorch-lightning==2.5.1.post0
scipy==1.15.2
tensorboard==2.18.0
torchinfo==1.8.0
torchmetrics==1.7.2
torchvision==0.21.0
tqdm==4.67.1
